body {
    font-family: sans-serif;
}

p {
  text-align: center;
  font-size: 1.2rem;
}
 
select {
  width: 180px;
}

.title {
    text-align: center;
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.dropdown-label {
  padding: 10px;
}